<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">L</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed"> {{loginService.username}}</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>

  <div class="divider"></div>

  <div class="scrollwrap scrollwrap_delayed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a class="sidenav-nav-link"
           (click)="handleClick(data)"
           *ngIf="data.items && data.items.length > 0"
           [ngClass]="getActiveClass(data)"
           [routerLink]="[data.routeLink]"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
          <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
             [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
          ></i>
        </a>
        <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
           *ngIf="!data.items || (data.items && data.items.length === 0)"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
        </a>
        <div *ngIf="collapsed && data.items && data.items.length > 0">
          <app-sub-level-menu
            [data]="data"
            [collapsed]="collapsed"
            [multiple]="multiple"
            [expanded]="data.expanded"
          ></app-sub-level-menu>
        </div>
      </li>
    </ul>

    <ul class="sidenav-nav-bottom">
      <li class="sidenav-nav-item" style="margin-bottom: 3rem">
        <a class="sidenav-nav-link" routerLink="users"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
        >
          <i class="sidenav-link-icon fas fa-users"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Utilisateurs</span>
        </a>
      </li>

      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" routerLink="profile"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
        >
          <i class="sidenav-link-icon fas fa-user"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Profile</span>
        </a>
      </li>

      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           (click)="handleLogOut()"
        >
          <i class="sidenav-link-icon fas fa-sign-out-alt"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Deconnexion</span>
        </a>
      </li>
    </ul>
    <!--    <div class="divider"></div>-->
  </div>
</div>
